In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv('merged_limpio.csv')

In [47]:
df.head()

,Año,Mes,ID Cliente,Tamaño de Cliente,Categoría,Producto,Sum of Venta USD,Sum of Venta Cajas
0,2022,Diciembre,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 300ml NR Pet 12B,2.550,1.0
1,2022,Diciembre,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 950 ml NR Pet 12B,3.345,2.0
2,2022,Diciembre,1,MICRO,COLAS,Coca-Cola 300 ml NR Pet 12B,7.185,1.0
3,2022,Diciembre,1,MICRO,COLAS,Coca-Cola E 1.35 Lts NR Pet 12B,9.690,2.0
4,2022,Diciembre,1,MICRO,COLAS,Coca-Cola E 3 Lts NR 6B,19.050,4.0

In [48]:
# Diccionario para convertir nombre del mes a número
meses_dict = {
    'Enero': 1, 'Febrero': 2, 'Marzo': 3, 'Abril': 4,
    'Mayo': 5, 'Junio': 6, 'Julio': 7, 'Agosto': 8,
    'Septiembre': 9, 'Octubre': 10, 'Noviembre': 11, 'Diciembre': 12
}

# Crear columna de número de mes
df['Mes_num'] = df['Mes'].map(meses_dict)

# Crear columna de fecha (asignando día 1 para cada mes)
df['Fecha'] = pd.to_datetime(df['Año'].astype(str) + '-' + df['Mes_num'].astype(str) + '-01')

df.drop('Mes', axis=1, inplace=True)
df.head()

,Año,ID Cliente,Tamaño de Cliente,Categoría,Producto,Sum of Venta USD,Sum of Venta Cajas,Mes_num,Fecha
0,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 300ml NR Pet 12B,2.550,1.0,12,2022-12-01
1,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 950 ml NR Pet 12B,3.345,2.0,12,2022-12-01
2,2022,1,MICRO,COLAS,Coca-Cola 300 ml NR Pet 12B,7.185,1.0,12,2022-12-01
3,2022,1,MICRO,COLAS,Coca-Cola E 1.35 Lts NR Pet 12B,9.690,2.0,12,2022-12-01
4,2022,1,MICRO,COLAS,Coca-Cola E 3 Lts NR 6B,19.050,4.0,12,2022-12-01

In [49]:
from sklearn.preprocessing import LabelEncoder

le_tam = LabelEncoder()
le_cat = LabelEncoder()
le_prod = LabelEncoder()

df["Tamaño de Cliente_encoded"] = le_tam.fit_transform(df["Tamaño de Cliente"])
df["Categoría_encoded"] = le_cat.fit_transform(df["Categoría"])
df["Producto_encoded"] = le_prod.fit_transform(df["Producto"])

In [50]:
df.head()

,Año,ID Cliente,Tamaño de Cliente,Categoría,Producto,Sum of Venta USD,Sum of Venta Cajas,Mes_num,Fecha,Tamaño de Cliente_encoded,Categoría_encoded,Producto_encoded
0,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 300ml NR Pet 12B,2.550,1.0,12,2022-12-01,4,2,150
1,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 950 ml NR Pet 12B,3.345,2.0,12,2022-12-01,4,2,152
2,2022,1,MICRO,COLAS,Coca-Cola 300 ml NR Pet 12B,7.185,1.0,12,2022-12-01,4,4,5
3,2022,1,MICRO,COLAS,Coca-Cola E 1.35 Lts NR Pet 12B,9.690,2.0,12,2022-12-01,4,4,10
4,2022,1,MICRO,COLAS,Coca-Cola E 3 Lts NR 6B,19.050,4.0,12,2022-12-01,4,4,17

In [51]:
print(df[["Tamaño de Cliente", "Tamaño de Cliente_encoded"]].drop_duplicates())
print(df[["Categoría", "Categoría_encoded"]].drop_duplicates())
print(df[["Producto", "Producto_encoded"]].head())

     Tamaño de Cliente  Tamaño de Cliente_encoded
0                MICRO                          4
13             MEDIANO                          3
229              CHICO                          0
1816            GRANDE                          2
3643           EXT-GDE                          1
               Categoría  Categoría_encoded
0       BEBIDAS DE FRUTA                  2
2                  COLAS                  4
8             ISOTÓNICOS                  5
9                SABORES                  6
13       AGUA PURIFICADA                  1
70                    TÉ                  7
109  BEBIDAS ENERGETICAS                  3
329         AGUA MINERAL                  0
                            Producto  Producto_encoded
0   JDV Nrja Choice 300ml NR Pet 12B               150
1  JDV Nrja Choice 950 ml NR Pet 12B               152
2        Coca-Cola 300 ml NR Pet 12B                 5
3    Coca-Cola E 1.35 Lts NR Pet 12B                10
4            Coca-Cola E 3 Lts NR 6B                17

In [52]:
df1=df.copy()

In [53]:
df.drop(["Tamaño de Cliente", "Categoría", "Producto"], axis=1, inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001296 entries, 0 to 3001295
Data columns (total 9 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Año                        int64
 1   ID Cliente                 int64
 2   Sum of Venta USD           float64
 3   Sum of Venta Cajas         float64
 4   Mes_num                    int64
 5   Fecha                      datetime64[ns]
 6   Tamaño de Cliente_encoded  int64
 7   Categoría_encoded          int64
 8   Producto_encoded           int64
dtypes: datetime64[ns](1), float64(2), int64(6)
memory usage: 206.1 MB

## 1️⃣ Reto de Diversificación —
Objetivo: Detectar clientes que compran de pocas categorías y proponerles categorías nuevas.

Recomendar 1 producto por categoría poco comprada de acuerdo con lo que han comprado clientes similares.



Recomendación basada en clientes similares (Collaborative Filtering)

Usa comportamientos de clientes similares.

Incentiva la diversificación inteligente, no aleatoria, ni la mas minima, sino de entre las bajas la que tiene mayor posibilidad de ser comprada en base a comportamiento de similares.

Se adapta dinámicamente a nuevos productos y categorías.

In [56]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

# Supongamos que ya tienes tu DataFrame completo cargado en `df`
df = df  # Usa solo los primeros 50 registros

# Paso 1: identificar categorías menos compradas por cliente
categoria_cliente = df.groupby(['ID Cliente', 'Categoría_encoded'])['Sum of Venta Cajas'].sum().reset_index()
total_por_cliente = categoria_cliente.groupby('ID Cliente')['Sum of Venta Cajas'].sum().reset_index()
total_por_cliente.rename(columns={'Sum of Venta Cajas': 'TotalCliente'}, inplace=True)
categoria_cliente = categoria_cliente.merge(total_por_cliente, on='ID Cliente')
categoria_cliente['Porcentaje'] = categoria_cliente['Sum of Venta Cajas'] / categoria_cliente['TotalCliente']

# Seleccionamos categoría menos comprada por cada cliente
categoria_baja = categoria_cliente.sort_values('Porcentaje').groupby('ID Cliente').head(1)

# Paso 2: producto más vendido dentro de esa categoría
ventas_prod = df.groupby(['Categoría_encoded', 'Producto_encoded'])['Sum of Venta Cajas'].sum().reset_index()
top_productos = ventas_prod.sort_values(['Categoría_encoded', 'Sum of Venta Cajas'], ascending=[True, False])
top_productos = top_productos.drop_duplicates('Categoría_encoded')

# Paso 3: unir cliente con su categoría baja y el top producto
base_recomendacion = categoria_baja.merge(top_productos, on='Categoría_encoded', suffixes=('', '_producto'))

# Paso 4: entrenar modelo simple para predecir cantidad sugerida
features = df[['Producto_encoded', 'Categoría_encoded', 'Tamaño de Cliente_encoded', 'Mes_num']]
target = df['Sum of Venta Cajas']

modelo = DecisionTreeRegressor(max_depth=5, random_state=42)
modelo.fit(features, target)

# Paso 5: generar recomendaciones
input_pred = base_recomendacion[['Producto_encoded', 'Categoría_encoded', 'ID Cliente']].copy()
input_pred = input_pred.merge(df[['ID Cliente', 'Mes_num', 'Tamaño de Cliente_encoded']].drop_duplicates('ID Cliente'), on='ID Cliente', how='left')
input_pred_features = input_pred[['Producto_encoded', 'Categoría_encoded', 'Tamaño de Cliente_encoded', 'Mes_num']]
input_pred['Cantidad_sugerida'] = modelo.predict(input_pred_features)

# Resultado final
recomendaciones = input_pred[['ID Cliente', 'Producto_encoded', 'Categoría_encoded', 'Cantidad_sugerida']]
print(recomendaciones)

      ID Cliente  Producto_encoded  Categoría_encoded  Cantidad_sugerida
0           3886               128                  7           1.605594
1           8190               158                  3           1.186803
2           1262                69                  0           2.471363
3           7007               171                  5           1.186803
4           3575               128                  7           1.605594
...          ...               ...                ...                ...
8323        5790               152                  2           1.570079
8324        6052               152                  2           1.570079
8325        6369                17                  4           4.915859
8326        7206                17                  4           4.915859
8327        7258               152                  2           1.570079

[8328 rows x 4 columns]

In [60]:
matriz_cp_2 = df.pivot_table(
    index='ID Cliente',
    columns='Categoría_encoded',
    values='Sum of Venta Cajas',
    aggfunc='sum',
    fill_value=0
)

In [63]:
print(matriz_cp_2.loc[[3575]])  # doble corchete devuelve un DataFrame

Categoría_encoded    0    1     2    3     4     5     6    7
ID Cliente
3575               0.0  4.0  12.0  5.0  39.0  13.0  30.0  0.0

In [30]:
cliente = matriz_cp_2.loc[1]
print(cliente)

Categoría_encoded
0      0.0
1      3.0
2     10.0
3      0.0
4    227.0
5     17.0
6     60.0
7      0.0
Name: 1, dtype: float64

In [79]:
recomendaciones.head()

,ID Cliente,Producto_encoded,Categoría_encoded,Cantidad_sugerida
0,3886,Fuze Tea Negro 3.0 1L NR Pet 6B,7,1.605594
1,8190,Monster Lata 473 ml 4B,3,1.186803
2,1262,Dasani Mineralizada 500 ml NR Pet 12B,0,2.471363
3,7007,Powerade Mora Azul 1L NR Pet 6B,5,1.186803
4,3575,Fuze Tea Negro 3.0 1L NR Pet 6B,7,1.605594

In [78]:
recomendaciones['Producto_encoded']=le_prod.inverse_transform(recomendaciones['Producto_encoded'].astype(int))

C:\Users\Magda\AppData\Local\Temp\ipykernel_26148\1275671036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recomendaciones['Producto_encoded']=le_prod.inverse_transform(recomendaciones['Producto_encoded'].astype(int))

In [80]:
recomendaciones['Categoría_encoded']=le_prod.inverse_transform(recomendaciones['Categoría_encoded'].astype(int))

C:\Users\Magda\AppData\Local\Temp\ipykernel_26148\2151824213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recomendaciones['Categoría_encoded']=le_prod.inverse_transform(recomendaciones['Categoría_encoded'].astype(int))

In [82]:
recomendaciones['Cantidad_sugerida']=np.ceil(recomendaciones['Cantidad_sugerida'])

C:\Users\Magda\AppData\Local\Temp\ipykernel_26148\1230279117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recomendaciones['Cantidad_sugerida']=np.ceil(recomendaciones['Cantidad_sugerida'])

In [83]:
recomendaciones.head()

,ID Cliente,Producto_encoded,Categoría_encoded,Cantidad_sugerida
0,3886,Fuze Tea Negro 3.0 1L NR Pet 6B,Coca-Cola 300 ml Ret Vid 24B (V),2.0
1,8190,Monster Lata 473 ml 4B,Coca Cola S/A 2Lts Ret Pet 9B,2.0
2,1262,Dasani Mineralizada 500 ml NR Pet 12B,COCA COLA KAIZEN LATA 350ML 6B,3.0
3,7007,Powerade Mora Azul 1L NR Pet 6B,Coca-Cola 300 ml NR Pet 12B,2.0
4,3575,Fuze Tea Negro 3.0 1L NR Pet 6B,Coca-Cola 300 ml Ret Vid 24B (V),2.0

In [85]:
recomendaciones.to_csv('nuevo1.csv')

In [88]:
recomendaciones.nunique()

ID Cliente           8328
Producto_encoded        8
Categoría_encoded       8
Cantidad_sugerida       7
dtype: int64

# MODELO ACTIVACION

In [72]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report




df = df

# ------------------------
# CREAR VARIABLES DERIVADAS
# ------------------------

# Última compra por cliente
ultima_compra = df.groupby("ID Cliente")["Fecha"].max().reset_index()
ultima_compra["Dias_desde_ultima_compra"] = (df["Fecha"].max() - ultima_compra["Fecha"]).dt.days

# Frecuencia: cuántos meses diferentes ha comprado
frecuencia = df.groupby("ID Cliente")["Mes_num"].nunique().reset_index()
frecuencia.rename(columns={"Mes_num": "Frecuencia_meses_activos"}, inplace=True)

# Compras en los últimos 3 meses
tres_meses_atras = df["Fecha"].max() - pd.Timedelta(days=90)
ultimos_3m = df[df["Fecha"] >= tres_meses_atras].groupby("ID Cliente")["Sum of Venta Cajas"].count().reset_index()
ultimos_3m.rename(columns={"Sum of Venta Cajas": "Compras_ultimos_3_meses"}, inplace=True)

# Tamaño de cliente
tamaño_cliente = df.groupby("ID Cliente")[["Tamaño de Cliente_encoded"]].first().reset_index()



churn_df = ultima_compra.merge(frecuencia, on="ID Cliente", how="left") \
                        .merge(ultimos_3m, on="ID Cliente", how="left") \
                        .merge(tamaño_cliente, on="ID Cliente", how="left")

churn_df["Compras_ultimos_3_meses"] = churn_df["Compras_ultimos_3_meses"].fillna(0)

# ------------------------
# ETIQUETA DE ABANDONO (churn = 1 si hay riesgo)
# ------------------------

churn_df["churn"] = np.where(
    (churn_df["Dias_desde_ultima_compra"] > 30) &
    (churn_df["Frecuencia_meses_activos"] < 4) &
    (churn_df["Compras_ultimos_3_meses"] < 3),
    1, 0
)

# ------------------------
# ENTRENAR MODELO DE CLASIFICACIÓN
# ------------------------

X = churn_df[["Dias_desde_ultima_compra", "Frecuencia_meses_activos", "Compras_ultimos_3_meses", "Tamaño de Cliente_encoded"]]
y = churn_df["churn"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

modelo = RandomForestClassifier(n_estimators=100, random_state=42)
modelo.fit(X_train, y_train)

# Puedes evaluar el modelo si quieres
# print(classification_report(y_test, modelo.predict(X_test)))

# ------------------------
# PREDICCIONES Y RETOS PERSONALIZADOS
# ------------------------

churn_df["riesgo_abandono"] = modelo.predict(X)

def generar_reto(row):
    if row["riesgo_abandono"] == 1:
        if row["Dias_desde_ultima_compra"] > 30:
            return "Vuelve esta semana y gana 500 puntos sorpresa"
        elif row["Frecuencia_meses_activos"] < 4:
            return "Reto de regreso: compra cualquier categoría y recupera tu racha"
    return "Cliente activo"

churn_df["reto_personalizado"] = churn_df.apply(generar_reto, axis=1)

# ------------------------
# RESULTADO FINAL
# ------------------------

resultados = churn_df[["ID Cliente", "riesgo_abandono", "reto_personalizado"]]
print(resultados.head())

# Opcional: guardar en archivo CSV
# resultados.to_csv("clientes_con_riesgo_y_reto.csv", index=False)

   ID Cliente  riesgo_abandono reto_personalizado
0           1                0     Cliente activo
1           2                0     Cliente activo
2           3                0     Cliente activo
3           4                0     Cliente activo
4           5                0     Cliente activo

Objetivo: Predecir el volumen probable y fijar meta +10% o +20%.